<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<!-- Sidebar -->
<div class="sidebar">
    <h2>Admin Panel</h2>
    <ul>
        <li><a th:href="@{/admin/dashboard}">Dashboard</a></li>
        <li><a href="#">Users</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
    </ul>
</div>

<!-- Main Content -->
<div class="main">

    <!-- Topbar -->
    <div class="topbar">
        <h1>Welcome Admin 👑</h1>
    </div>

    <!-- Cards -->
    <div class="cards">
        <div class="card">
            <h3>Total Users</h3>
            <p th:text="${users.size()}"></p>
        </div>
    </div>

    <!-- Table -->
    <div class="table-section">
        <h2>User Management</h2>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="u : ${users}">
                <td th:text="${u.id}"></td>
                <td th:text="${u.userName}"></td>
                <td th:text="${u.email}"></td>

                <td>
                    <a th:href="@{'/admin/update/' + ${u.id}}">
                        <button class="edit">Edit</button>
                    </a>

                    <a th:href="@{'/admin/delete/' + ${u.id}}"
                       onclick="return confirm('Delete this user?')">
                        <button class="delete">Delete</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>