<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
    <link rel="stylesheet" th:href="@{/css/editUser.css}">
</head>
<body>

<div class="container">
    <h2>Edit User</h2>

    <form th:action="@{/admin/update}" method="post" th:object="${user}">

        <input type="hidden" th:field="*{id}" th:value="${user.id}" >

        <!-- Username -->
        <label>Username</label>
        <input type="text" th:field="*{username}" th:value="${user.username}"  required>

        <!-- Email -->
        <label>Email</label>
        <input type="email" th:field="*{email}"  th:value="${user.email}" required>


        <!-- Buttons -->
        <div class="btn-group">
            <button type="submit" class="save">Update</button>
            <a th:href="@{/admin/dashboard}">
                <button type="button" class="cancel">Cancel</button>
            </a>
        </div>

    </form>
</div>

</body>
</html>